/* styles.css */
html, body {
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #38bdf8 #0a192f;
}

.toggle-checkbox:checked {
    right: 0;
    border-color: #38bdf8;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #38bdf8;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0a192f;
}

::-webkit-scrollbar-thumb {
    background-color: #38bdf8;
    border-radius: 6px;
    border: 3px solid #0a192f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #60a5fa;
}